<nav class="navbar navbar-expand-lg navbar-iemr">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-header">
        <a class="navbar-brand">
          <img src="assets/images/logo.png" alt="Logo" />
        </a>
      </div>
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#top-navbar,#main-navbar"
      >
        <mat-icon class="white-icon">menu</mat-icon>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse menu-font" id="top-navbar">
      <ul class="navbar-nav ms-auto flex-row">
        <li class="alignWord">
          <span>{{ currentLanguageSet?.SelectLanguage }} :</span>
        </li>
        <li class="alignDropDown" style="padding: 5px">
          <select
            class="menu-font drop-arrow border-radius-20 width120px pull-right"
            name="app_language"
            [(ngModel)]="app_language"
            (change)="changeLanguage(app_language)"
          >
            <option
              *ngFor="let language of languageArray"
              [value]="language.languageName"
            >
              {{ language.languageName }}
            </option>
          </select>
        </li>
        <li
          *ngIf="servicePoint"
          class="servicePoint cursorPointer"
          [routerLink]="'/servicePoint'"
          matTooltip="{{ currentLanguageSet?.servicePoint }}"
          style="margin: 6px 5px"
        >
          <a>
            <img src="assets/images/placeholder.png" alt="placeholder" />
            <span style="color: #d9d9d9"
              >{{ currentLanguageSet?.servicePoint }}
              <span style="color: #d9d9d9">:</span>
              <span style="color: #ffffff">{{ servicePoint | titlecase }}</span>
            </span>
          </a>
        </li>
        <li *ngIf="userName" style="margin: 6px 3px">
          <a>
            <img
              src="assets/images/UserIcon1.png"
              matTooltip="{{ currentLanguageSet?.user }}"
              alt="user1"
            />
            <span style="color: #d9d9d9">
              {{ currentLanguageSet?.user }}
              <span style="color: #d9d9d9">:</span>
              <span
                style="color: #ffffff"
                matTooltip="{{ currentLanguageSet?.user }}"
                >{{ userName | titlecase }}</span
              >
            </span>
          </a>
        </li>
        <!-- <li class="cursorPointer" style="margin: 6px 3px;">
          <span
            class="fa fa-question-circle helpAlign"
            matTooltip="
        {{ currentLanguageSet?.help }}"
            alt="Help"
            [matMenuTriggerFor]="knowAboutUs"
          ></span>
        </li> -->
        <!-- <li class="cursorPointer" style="margin: 6px 3px;">
          <span class="fa fa-question-circle helpAlign" matTooltip="
          {{currentLanguageSet?.help}}" alt="Help" [matMenuTriggerFor]="knowAboutUs"></span>
        </li> -->
        <li
          class="nav-item cursorPointer"
          *ngIf="isAuthenticated"
          style="margin-top: 6px"
        >
          <mat-icon
            alt="Help"
            [matMenuTriggerFor]="knowAboutUs"
            matTooltip="{{ currentLanguageSet?.help }}"
            >help_outline</mat-icon
          >
        </li>

        <mat-menu #knowAboutUs x-position="before" class="m-t-40">
          <mat-list class="p-t-0">
            <mat-list-item (click)="showVersionAndCommitDetails()"
              >{{ currentLanguageSet?.version }}:{{ versionUI }}</mat-list-item
            >
            <mat-list-item
              ><a
                target="_blank"
                href="{{ license }}"
                rel="noopener noreferrer"
                >{{ currentLanguageSet?.licenseInfo }}</a
              >
            </mat-list-item>
          </mat-list>
        </mat-menu>

        <li
          *ngIf="isAuthenticated"
          class="logout cursorPointer"
          matTooltip="{{ currentLanguageSet?.logout }}"
          style="margin: 6px 3px"
        >
          <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events -->
          <a tabindex="{0}" (click)="getSwymedLogout()">
            <span class="logoutIcon"></span>
            <!-- <span
              style="color: #ffffff"
              class="hidden-sm hidden-md hidden-lg"
              >{{ currentLanguageSet?.logout }}</span
            > -->
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div *ngIf="showRoles" class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <div
      class="ccollapse navbar-collapse"
      id="main-navbar"
      style="justify-content: center"
    >
      <ul
        class="nav navbar-nav ml-auto"
        *ngFor="let item of filteredNavigation; let isLast = last"
      >
        <li *ngIf="item.role === 'Supervisor'">
          <button mat-button [matMenuTriggerFor]="items2">
            {{ item.label }}
            <span class="caret"></span>
          </button>
          <mat-menu
            class="supervisor-menu"
            #items2="matMenu"
            yPosition="below"
            xPosition="after"
            [overlapTrigger]="false"
          >
            <button
              mat-menu-item
              *ngFor="let value of item?.work"
              [routerLink]="value.link"
              routerLinkActive="active"
            >
              {{ value.label }}
            </button>
          </mat-menu>
        </li>

        <li *ngIf="item.role === 'TC Specialist'">
          <button
            mat-button
            [matMenuTriggerFor]="items3"
            [ngClass]="{ active: updateCSSToShowActiveTCSpecialist }"
          >
            {{ item.label }}
            <span class="caret"></span>
          </button>
          <mat-menu
            class="specialist-menu"
            #items3="matMenu"
            yPosition="below"
            xPosition="after"
            [overlapTrigger]="false"
          >
            <button mat-menu-item (click)="redirectToSpecialistWorklist()">
              {{ currentLanguageSet?.worklist }}
            </button>
            <button
              mat-menu-item
              *ngFor="let value of item?.work"
              [routerLink]="value.link"
              routerLinkActive="active"
              #activeTCSpecialist="routerLinkActive"
            >
              {{ value.label }}
            </button>
          </mat-menu>
        </li>

        <li *ngFor="let role of reportNavigation">
          <button
            mat-button
            [matMenuTriggerFor]="items4"
            [ngClass]="{ active: updateCSSToShowActiveReport }"
            style="
              background-color: white;
              border-radius: 30px;
              margin-left: 10px;
              font-weight: bold !important;
            "
          >
            {{ role.label }}
            <span class="caret"></span>
          </button>
          <mat-menu
            class="supervisor-menu"
            #items4="matMenu"
            yPosition="below"
            xPosition="after"
            [overlapTrigger]="false"
          >
            <button
              mat-menu-item
              *ngFor="let value of role?.work"
              [routerLink]="value.link"
              routerLinkActive="active"
              #activeReport="routerLinkActive"
            >
              {{ value.label }}
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </nav>
</div>
